<div xmlns:th="http://www.thymeleaf.org/extras/spring-security"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav sec:authorize="authenticated" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">TODOs List</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/todos/all/users/${userId}|}">My To-Dos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasAuthority('ADMIN')"
                           href="/users/all">List of Users</a>
                    </li>
                </ul>
                <span>Hello <a class="link-primary" th:text="${userName}"></a>&nbsp&nbsp
                <span></span><a class="btn btn-primary" th:href="@{/form-logout}">Log out</a></span>
            </div>
        </div>
    </nav>
</div>
