<!DOCTYPE html>
<html lang="en">
<head th:include="head :: head" th:with="pageTitle='Login page'"></head>
<body>
<div class="container">
  <br>
  <div class="row justify-content-center">
    <aside class="col-sm-4">
      <div class="card">
        <article class="card-body">
          <a href="/form-signup" class="float-right btn btn-outline-primary">Sign up</a>
          <h4 class="card-title mb-4 mt-1">LogIn</h4>
          <hr>
          <p th:if="${param.error}" class="text-success text-center">Enter your credentials</p>
          <form th:method="POST" th:action="@{/form-login}">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="username" class="form-control" placeholder="Username" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="password" class="form-control" placeholder="Password" type="password">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">LogIn</button>
            </div>
          </form>
        </article>
      </div>
    </aside>
  </div>
</div>
</body>
</html>